// Fonts
$Light: "Poppins-Light";
$Regular: "Poppins-Regular";
$Medium: "Poppins-Medium";
$SemiBold: "Poppins-SemiBold";
$Bold: "Poppins-Bold";

//fonts size
$fontSizeMain: 45px;
$fontMainMobile: 24px;


//color
$btnColor: #002a3a;
$color1: #00466d;
$color2: #23415a;
$background1: #ecfaff;
$background2: #ffffff08;
$grey: #f2f2f2;
$grey2: #ededed;
$borderColor: #8caab5;
