// Fonts
$Light: "Poppins-Light";
$Regular: "Poppins-Regular";
$Medium: "Poppins-Medium";
$SemiBold: "Poppins-SemiBold";
$Bold: "Poppins-Bold";

//fonts size
$fontSizeMain: 45px;

//color
$btnColor: #002a3a;
$color1: #00466d;
$background1: #ecfaff;
$grey: #f2f2f2;
$grey2: #ededed;
$borderColor: #8caab5;
